.top-bar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 65px;
  background-color: white;
}

.top-bar-logo {
  margin-left: 40px;
}
