.welcome-message-box {
  display: flex;
  background-color: blue;
  color: white;
  flex-wrap: wrap;
  align-items: center;
  height: 350px;
}

.welcome-message-content {
  margin-left: 30px;
}

.welcome-message-first-half {
  width: 50%;
}
