.modal-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-heading div {
  cursor: pointer;
}

.modal-heading h2 {
  color: black !important;
}

.ReactModal__Content {
  width: 40% !important;
}
